@media screen and (max-width:576px) {
    .navBar , .nav-links{
        flex-direction: column;
    }
  .banner-title{
   
    font-size: 1rem;
  }
  .bannar-desp{
    
    font-size: 0.7rem;
  }
 .teams{
    flex-direction: column;
 }

 .team-img-container{
    grid-template-columns: repeat(1,1fr);
 }  

 .our-features{
  margin-left: 50px;
  margin-top: 20px;
} 
  
.fact-text{
  margin: 10px;
}


.facts-container {
  grid-template-columns:repeat(1,1fr);
  margin: 0 10px;
} 

.spomsors-companies{
  grid-template-columns:repeat(1,1fr);
 gap: 20px;
 justify-items: center;
}
}
  @media screen and (min-width:576px) and (max-width:850px){
    .banner-title{
   
      font-size: 1.5rem;
    }
    .teams{
      flex-direction: column;
      
   }
  
   .team-img-container{
      grid-template-columns: repeat(2,1fr);
   } 
   
   .our-features{
    
    margin: 12px auto 0;
  } 
  .fact-text{
    margin: 15px;
  } 

.facts-container{
  grid-template-columns:repeat(2,1fr);
  margin: 0 10px;
} 
 .spomsors-companies{
  grid-template-columns:repeat(3,1fr);
 gap: 20px; 
 justify-items: center;
 }
}
