@media screen and (max-width:576px) {
    .navBar , .nav-links{
        flex-direction: column;
    }
  .banner-title{
   
    font-size: 1rem;
  }
  .bannar-desp{
    
    font-size: 0.7rem;
  }
 .teams{
    flex-direction: column;
 }

 .team-img-container{
    grid-template-columns: repeat(1,1fr);
 }
}
.our-features{
    margin-left: 50px;
    margin-top: 20px;
}
