*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.font-po{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
}

.text-gary{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1); 
}
   main{
    max-width: 850px;
   
    
    margin: 130px auto;
   
   }

   main section{
    margin-top: 130px;
   }
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 2rem;
font-weight: 700;
line-height: 53px;
letter-spacing: 0%;
text-align: center;
}
.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 500;
}
 .navBar , .banner{
    max-width: 900px;
    margin: 0  auto 30px;
    
 }  


.banner-content{
    max-width: 55%;
    margin:  0 auto;
    text-align: center;
    
}

.banner-title{
    color: rgb(19, 19, 19);
    
    font-size: 3.5rem;
    font-weight: 700;
   
    text-align: center;
    margin-bottom: 20px;
}

.bannar-desp{
    color: rgb(114, 114, 114);

font-size: 1rem;
font-weight: 400;

text-align: center;
margin-bottom: 30px;
}
  
.primary-btn{
border-radius: 8px;
border: none;
background: rgb(255, 144, 14);
color: rgb(255, 255, 255);
padding: 12px;
font-size: 1rem;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.image img{
    width: 100%;
    margin-top: 30px;
}

.teams{
    display: flex;
    align-items: center;
    
 
    
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}




.team-img-container img{
    width: 230px;
  
    border-radius: 10px;
}

.our-features{
    margin-left: 130px;
    max-width: 500px;
}

.features-title{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#one{
    font-weight: 500;
    color: #727272;
}
#two{
    font-weight: 700;
}
#three{
    color: rgb(255, 144, 14);
}
.features-desp{
    margin-bottom: 10px;
    color: rgb(114, 114, 114);
    font-weight: 400;
    font-size: 0.9rem;
}



.section-title{
    color: rgb(19, 19, 19);

font-size: 1.6rem;
font-weight: 700;
text-align: left; 
margin-bottom: 15px;
}


.section-desp{
    color: rgb(114, 114, 114);
    text-align: left;
font-size: 0.9rem;
font-weight: 400; 
}

.section-container{
    max-width: 536px;
}